## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

#Setups the server
exec setup.cfg

#Starts the resources
exec resources.cfg

#Sets Player rights
exec roles.cfg